/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";
@import "prefixer.less";
@import "flexbox.less";

/* ==========================================================================
   Base
   ========================================================================== */

.scrollBackgroundX(){
   from { background-position: 0 0; }
   to { background-position: 100% 0; }
}

@-webkit-keyframes scrollBackgroundX {.scrollBackgroundX;}
@-moz-keyframes scrollBackgroundX {.scrollBackgroundX;}
@-ms-keyframes scrollBackgroundX {.scrollBackgroundX;}
@-o-keyframes scrollBackgroundX {.scrollBackgroundX;}
@keyframes scrollBackgroundX {.scrollBackgroundX;}

.riseAndFall(){
   //use position:relative;
   0% { top: 0; }
   50% { top: -6px; }
   100% { top: 0; }
}
@-webkit-keyframes riseAndFall {.riseAndFall;}
@-moz-keyframes riseAndFall {.riseAndFall;}
@-ms-keyframes riseAndFall {.riseAndFall;}
@-o-keyframes riseAndFall {.riseAndFall;}
@keyframes riseAndFall {.riseAndFall;}



body {
   min-height: 100vh;
   //min-width: @screen-xs-min;

   -webkit-font-smoothing: subpixel-antialiased;

   background-position: center center;
   background-attachment: fixed;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;

   font-size:17px;

   font-family: 'Raleway', sans-serif;

   @media (max-width: @screen-xs-min){
      font-size:16px;
   }


   .content.row{
      padding:20px;

      margin:-20px auto 0 auto;

      max-width:800px;

      @media (min-width: @grid-float-breakpoint) {

      }

      @media (min-width: @screen-sm-min){

      }
      @media (min-width: @screen-md-min){

      }
      @media (min-width: @screen-lg-min){

      }
   }
   .main{
      padding:15px;
   }

}

body{
   .flexbox();
   .flex-direction(column);
   > header.banner{
      .flex-grow(0);
   }
   > .wrap{
      .flex-grow(1);
   }
   > footer.content-info{

   }
}

.wrap{
   .light &{
      //background:rgba(255,255,255,.8) url(../img/crackedpaint-bg.png) repeat top center;
      color: #333;

      //higher resolution bg for desktop
      @media (min-width: @screen-lg-min) {
         //background-image:url(../img/brick-bg.png);
      }
   }
   .dark &{
      background:rgba(0,0,0,.8) url(../img/water-bg-small.png) no-repeat top center;
      background-size:100% auto;
      color:white;

      //higher resolution bg for desktop
      @media (min-width: @screen-lg-min) {
         background-image:url(../img/water-bg.png);
      }
   }

}

a{
   text-decoration:underline;
   .light &{
      color:#000;
   }
   .dark &{
      color: #fff;
   }
}


/* ==========================================================================
   Header
   ========================================================================== */



.banner {
   position:relative;

   height:200px;

   @media (min-width: @screen-sm-min){
      height:330px;
   }
   @media (min-width: @screen-md-min){

   }
   @media (min-width: @screen-lg-min){

   }




   #page-banner{
      position: absolute;
      width: 100%;
      bottom: 0;
      margin-bottom: -100px;
      

      @media (min-width: @screen-sm-min){
         
      }
      @media (min-width: @screen-md-min){

      }
      @media (min-width: @screen-lg-min){

      }
   }

   .logo{
      width:250px;
      height:250px;

      margin: 0 auto;

      position:relative;
      z-index: 6;
      top:10px;


      .logoBob(){
         //use position:relative;
         0% { top: 10px; }//.transform(rotate(1deg)) }
         //25% { top: 1px; }
        // 50% { .transform(rotate(-1deg))}
         75% { top: 15px; }
         100% { top: 10px;}// .transform(rotate(1deg))}
      }
      @-webkit-keyframes logoBob {.logoBob;}
      @-moz-keyframes logoBob {.logoBob;}
      @-ms-keyframes logoBob {.logoBob;}
      @-o-keyframes logoBob {.logoBob;}
      @keyframes logoBob {.logoBob;}


      .dark &{
         .brand{
            background: url(../img/logo-white.png) no-repeat;
         }
      }
      .light &{
         .brand{
            background: url(../img/logo-black.png) no-repeat;
         }
      }
      @media (min-width:@screen-xs-min) {
         .animated &{
            .animation(logoBob 5s ease-in-out infinite);
         }
      }



   }
   .logo-background{
      position: absolute;
      top:0px;


      width:100%;
      height:150px;

      //provide some space for the bobbing anim
      //padding-top:10px;
      //margin-top:-10px;

      overflow:hidden;

      opacity: .8;

      z-index:5;

      .circle{
         content:"";
         display:block;

         position:relative;
         top: 10px;

         width:250px;
         height:250px;

         margin:0 auto;

         border-radius:50%;

         @media (min-width:@screen-xs-min) {
            .animated &{
               .animation(logoBob 5s ease-in-out infinite);
            }
         }
         .dark &{
            background: #000;
         }
         .light &{
            background: #fff;
         }

      }



      .wavesAnim(){
         0% { background-position: 0 4px; background-size:24px 18px; }
         50% { background-position: 22px 12px; background-size:24px 10px;}
         100% { background-position: 44px 4px; background-size:24px 18px;}
      }
      @-webkit-keyframes wavesAnim {.wavesAnim;}
      @-moz-keyframes wavesAnim {.wavesAnim;}
      @-ms-keyframes wavesAnim {.wavesAnim;}
      @-o-keyframes wavesAnim {.wavesAnim;}
      @keyframes wavesAnim {.wavesAnim;}

      .waves{
         content: "";
         display:block;

         position: absolute;
         bottom:-1px; //to hide a visual glitch in FF

         width:100%;
         height:20px;

         .dark &{
            background: url(../img/waves-dark.png) repeat-x center top;
         }
         .light &{
            background: url(../img/waves-light.png) repeat-x center top;
         }

      };

     @media (min-width:@screen-xs-min) {
         .animated & .waves{
            .animation(wavesAnim 5s linear infinite);
         }
      }
   }


   .brand{
      display:block;

      position:relative;
      z-index:2;

      width:   213px;
      height: 101px;

      top:58px;
      left:18px;

      text-indent:-9999px;
      @media (max-width: @grid-float-breakpoint) {

      }
      @media (min-width: @grid-float-breakpoint) {

      }

      @media (min-width: @screen-sm-min){

      }
      @media (min-width: @screen-md-min){

      }
      @media (min-width: @screen-lg-min){

      }
   }


   #address{
      position:absolute;
      top:0px;
      right:10px;

      width:300px;

      text-align:right;
      font-size:0.9em;

      color:white;
      text-shadow:1px 1px 1px rgba(0,0,0,.6);

      font-family:"American Typewriter", Courier, monospace;

      /*.dark &{
         color:white;
         text-shadow:1px 1px 1px rgba(0,0,0,.6);
      }
      .light &{
         color:#000;
         text-shadow:1px 1px 1px rgba(255,255,255,.6);
      }*/
   }


   #primary-navigation{
      position:absolute;
      left:0;
      right:0;
      top:230px;

      //adjust for larger header size
      @media (min-width: @screen-sm-min){
         top:360px;
      }

      z-index:10;

      #top-nav{
         text-align:center;
      }

      nav li, nav li a{
         .light &{
            color:#000;
         }
         .dark &{
            color:#fff;
         }
      }
      nav{

         li{
            display:inline-block;
         }

         .submenu{
            display:none;
         }

      }

      #menu-primary-navigation{
         @media (max-width: @screen-xs-min){
            //social links are hidden on tiny screens, so center align looks better
            text-align:center;
            float:none;
            padding:0;
         }
         @media (min-width: @screen-sm-min){
         }
         @media (min-width: @screen-md-min){
         }
         @media (min-width: @screen-lg-min){
         }

         & > .menu-cafe, > .menu-roastery{
            padding-bottom:10px;
         }

         & > .menu-cafe{
            & > a{
               width:79px;
               height:17px;
               .light &{
                  background:url(../img/menu-cafe-black.png) no-repeat;
               }
               .dark &{
                  background:url(../img/menu-cafe-white.png) no-repeat;
               }
            }
            &.active{
               .light &{
                  background:url(../img/menu-cafe-underline-black.png) no-repeat 0 37px;
               }
            }
         }
         & > .menu-roastery{
            & > a{
               position:relative;
               top:-8px;

               width:128px;
               height:41px;


               .light &{
               background:url(../img/menu-roastery-black.png) no-repeat;
               }
               .dark &{
                  background:url(../img/menu-roastery-white.png) no-repeat;
               }
            }
            &.active{
               .dark &{
                  background:url(../img/menu-roastery-underline-white.png) no-repeat 5px 37px;
               }
            }
         }
         & > .menu-cafe > a, > .menu-roastery > a{
            display:inline-block;
            margin-right:30px;
            text-indent:-9999px;
            font-size:1px;
         }
      }


      #page-nav{
         ul{
            padding:0;
         }

         @media (max-width:@screen-sm-min){
            position:relative;
            top:-30px;
            text-align:center;

            li{
               margin-right:10px;
               font-size:0.8em;
            }
         }
         @media (min-width:@screen-sm-min) {

            position:absolute;
            bottom:20px;



            .light &{
               border:black solid;
               color:black;
               border-image:url(../img/sketchy-border-dark.png) 14 10 10 10 repeat;
            }
            .dark &{
               border:white solid;
               color:white;
               border-image:url(../img/sketchy-border-light.png) 14 10 10 10 repeat;
            }

            .cafe &{
               border-width:0 5px 0 0;
               right:50%;
               margin-right:145px;
            }
            .roastery &{
               border-width:0 0 0 5px;
               left:50%;
               margin-left:155px;
            }


            &:after{
               position:absolute;
               bottom:30px;
               .cafe &{
                  right:-20px;
               }
               .roastery &{
                  left:-20px;
               }
               content: "";

               width:20px;
               height:1px;

               border:inherit;
               border-image:inherit;
               border-width: 5px 0 0 0;
            }
            ul{
               margin-top:-20px;

               border:inherit;
               border-image:inherit;
               border-width:0;
            }
            li{
               position:relative;
               top:20px;

               display:block;

               border:inherit;
               border-image:inherit;
               border-width:0;

               .cafe &{
                  text-align:right;
                  margin-right:15px;
               }
               .roastery &{
                  text-align:left;
                  margin-left:15px;
               }


               &:after{
                  position:absolute;
                  top:15px;

                  .cafe &{
                     right:-18px;
                  }
                  .roastery &{
                     left:-18px;
                  }

                  width:10px;

                  content:" ";
                  font-size:1px;

                  border:inherit;
                  border-image:inherit;
                  border-width:4px 0 0 0;
               }
               a{
                  font-size:0.8em;
                  text-decoration:none;
                  &:hover{
                     text-decoration:underline;
                  }
               }
            }
         }//end screen-sm-min
      }





   }


}



#measures{

   @media (max-width:@screen-xs-min) {
      display:none;
   }

   position:absolute;
   bottom:18px;
   left:0;
   right:0;


   .unit{
      position:absolute;
      top:-12px;
      left:100px;
      right:100px;

      z-index:4;

      font-size:14px;
      font-weight:bold;

      .left{
         position:absolute;
         left:0px;
      }
      .right{
         position:absolute;
         right:0px;

         text-align: right;
      }

   }

   .lines{
      /*z-index: 4;
      position:absolute;
      left:100px;
      right:100px;

      @media(min-width:@screen-sm-min){
         right:100px;
      }
      @media(min-width:@screen-sm-min){
         left:100px;
      }

      &:before, &:after{
         content:" ";
         position:absolute;
         top:0;
         border-top:2px dashed rgba(255,255,255,.4);
         height:1px;
         .dark &{
            border-color:rgba(255,255,255,.4);
         }
         .light &{
            border-color:rgba(0,0,0,.4);
         }
      }
      &:before{
         left:0;
         width:17%;

         @media(min-width:@screen-sm-min){
            width:22%;
         }
      };
      &:after{
         right:0;
         width:17%;

         @media(min-width:@screen-sm-min){
            width:22%;
         }
      };*/
   }

   //.animation(riseAndFall 5s ease-in-out infinite);

   .scale{
      position:absolute;
      top:-175px;
      left:20px;
      z-index:4;

      z-index:0;
      padding:0;
      margin-left:10px;

      border-left:2px solid;
      border-image:14 10 10 10 repeat;
      border-image-source: inherit;
      border-width: 0 0 0 7px;
      list-style:none;
      li{
         position:relative;
         padding-left:20px;
         height:25px;
         line-height:45px;
         border-image-source: inherit;
      }
      li:before{
         display:block;

         position:absolute;
         left:-4px;
         bottom:0;
         content:' ';
         border:solid;
         border-image: 14 10 10 10 repeat;
         border-image-source: inherit;
         /*.dark &{
            border-image:url(../img/sketchy-border-light.png) 14 10 10 10 repeat;
         }
         .light &{
            border-image:url(../img/sketchy-border-dark.png) 14 10 10 10 repeat;
         }*/
         border-width: 0 0 4px 0;

      }
      li:nth-child(2n):before{
         width:10px;
      }
      li:nth-child(2n+1):before{
         width:15px;
      }
   }

   .reference{
      position:absolute;
      top:-60px;
      right:20px;
      z-index:6;

   }

   .scale, .unit{
      .dark &,
      .light &{
         color:white;
         text-shadow:1px 1px 0px rgba(0,0,0,.2);

         border-image-source: url(../img/sketchy-border-light.png);
      }
      /*.light &{
         color:black;
         text-shadow:1px 1px 0px rgba(255,255,255,.5);

         border-image-source: url(../img/sketchy-border-dark.png);
      }*/
   }

   //this is a temporary fix for the homepage background image
   //to make the text visible
   //sure to change when hawkon changes the image to a different one
   .unit{
      .light &{
         color:white;
         text-shadow:1px 1px 0px rgba(0,0,0,.2);
      }
   }

}

#measures.flamingo_pier{

  .unit{
    .right{
      right:70px;
    }
  }
   .reference{

      width:137px;
      height:120px;

      //.transition(opacity .5s);

      .light &{
         background:url(../img/flamingo-pier-black.png);
      }
      .dark &{
         background:url(../img/flamingo-pier-white.png);
      }


      &:hover{
         background:url(../img/flamingo-pier.png);
         //opacity:1;
      }

   }
}

#measures.coffee_roasted{
   .reference{
      display:none;
      @media(min-width:@screen-sm-min){
         display:block;
      }
      z-index:3;

      top:-140px;
      right:0px;

      width:170px;
      height:209px;


      .light &{
         background:url(../img/san-fransisco-sketch-light.png);
      }
      .dark &{
         background:url(../img/san-fransisco-sketch-light.png);
      }

   }
   .unit, .lines{
      right:15px;
      @media(min-width:@screen-sm-min){
         right:180px;
      }

   }

}



#measures.eggs_poached{
   .reference{
      display:none;
      @media(min-width:@screen-sm-min){
         display:block;
      }
      z-index:3;

      top:-100px;
      right:0px;

      width:250px;
      height:151px;


      .light &{
         background:url(../img/eggs-sketch.png);
      }
      .dark &{
         background:url(../img/eggs-sketch.png);
      }

   }
   .unit, .lines{
      right:15px;
      @media(min-width:@screen-sm-min){
         right:250px;
      }

   }

}




/* ==========================================================================
   Content
   ========================================================================== */
.wrap{
   padding:140px 0 0 0;
   position:relative;
   z-index:5;
}
.content {
   margin-top:0px;
   position:relative;
   z-index:5;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {


   @media (min-width: @screen-sm-min){

   }
   @media (min-width: @screen-md-min){
      //make sure the counter top doesn't overlap the actual content, just it's
      //background
      position:relative;

      z-index:3;
   }
   @media (min-width: @screen-lg-min){

   }

   .page-header{
      margin:0;
      border:none;
      text-align: center;
      h1{
         font-size:2em;
      }
   }

   .entry-title a{
      text-decoration: none;
   }

   img{
      max-width:100%;
      height:auto;
   }

}



.social{
   display:block;
   ul{
      list-style:none;
      padding:0;
      text-align:center;
   }
   li{
      display:inline-block;
      padding:4px;
      margin:0;
   }
   a:hover{
      //.animation(jiggle 0.2s linear infinite);
   };

   .light &{
      color:black;
   }
   .dark &{
      color:white;
   }

   .cafe.page &{

   }
   .roastery.page &{

   }

   .tooltip{
      .dark &{
         .tooltip-inner{
            background:rgba(255,255,255,1);
            color:#333;
         }
         &.top .tooltip-arrow{
            border-top-color: #fff;
         }
      }
   }
}



.main{
   img{
      margin:5px;
   }
   .alignright{
      float:none;
      display:block;

      @media (min-width:@screen-sm-min){
         float:right;
         margin:5px 0 5px 5px;
      }
   }
}
/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

footer.content-info {
   text-align:center;
   padding-top:20px;

   .dark &{
      background:rgba(0,0,0,.8);
      color:#ddd;
   }
   .light &{
      background:rgba(255,255,255,.8);
      color:#555;
   }

   .copyright{
      font-size:0.7em;
      opacity:0.5;
   }
}
.content-info.sticky{

}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   PAGE SPECIFIC STYLES
   ========================================================================== */

.jiggle(){
  0% {
      .transform(rotate(-1deg));
   }
   50% {
      .transform(rotate(1deg));
   }
}

@-webkit-keyframes jiggle {.jiggle;}
@-moz-keyframes jiggle {.jiggle;}
@-ms-keyframes jiggle {.jiggle;}
@-o-keyframes jiggle {.jiggle;}
@keyframes jiggle {.jiggle;}

.home.page{
   #primary-navigation{
      display:none;
   }

   //set homepage to dark blue for the dark theme.
   &.dark{
     .wrap, footer.content-info{
       background-color:rgba(0,10,20,.8);
     }
     .banner .logo-background{
       .circle{
         background-color:rgb(0,10,20);
       }
       .waves{
         background-image:url(../img/waves-dark-blue.png);
       }
     }
   }
   .wrap .content{
      height:500px;
      margin-top:-80px;

      /*.linksAnim(){
         0% { background-position: 0 4px; background-size:24px 18px; }
         50% { background-position: 22px 12px; background-size:24px 10px;}
         100% { background-position: 44px 4px; background-size:24px 18px;}
      }
      @-webkit-keyframes linksAnim {.linksAnim;}
      @-moz-keyframes linksAnim {.linksAnim;}
      @-ms-keyframes linksAnim {.linksAnim;}
      @-o-keyframes linksAnim {.linksAnim;}
      @keyframes linksAnim {.linksAnim;}*/

      #splash-text{
         position:relative;

         height:233px;
         width:463px;

         margin: 0 auto;

         background: url(../img/blurb-therest.png) no-repeat center center;

         &, & a{
            text-indent:-9999px;
            font-size:1px;
            color:rgba(0,0,0,0);
         }

         a{
            text-indent:-9999;
            font-size:1px;
            color:rgba(0,0,0,0);

            //&:hover{
               .animation(jiggle 0.2s linear infinite);
            //}
            &:hover{
               .animation(none);
            }
         }
         a.cafe{
            position:absolute;
            top:90px;
            left:63px;

            width:76px;
            height:80px;

            background: url(../img/blurb-cafe.png) no-repeat center 15%;
         }
         a.roastery{
            position:absolute;
            top:76px;
            left:335px;

            width:141px;
            height:97px;

            background: url(../img/blurb-roastery.png) no-repeat center 15%;
         }
         @media (min-width: @screen-sm-min){
         }
         @media (min-width: @screen-md-min){

         }
         @media (min-width: @screen-lg-min){

         }
      }
   }
}

//give the roastery a brown coffee bean background
/*.roastery.page{
  .wrap{
    background-color:rgba(26,4,4,.8);

    background-image:url(../img/coffee-bg-small.png);
    background-repeat:repeat;
    background-size: 250px 250px;
    //higher resolution bg for desktop
    @media (min-width: @screen-md-min) {
       background-image:url(../img/coffee-bg.png);
       background-size: 250px 250px;
    }
  }
  footer.content-info{
    background-color: rgba(26,4,4,.8);
  }
  .banner .logo-background{
    .circle{
      background-color:rgb(26,4,4,.8);
    }
    .waves{
      background-image:url(../img/waves-dark-brown.png);
    }
  }

}
*/


//håkon wants all dark themes to be blue
//with white water
//and light themes to be light blue
//with less transparent white water

.dark{
    .wrap, footer.content-info{
      background-color:rgba(0,10,20,.8);
    }
    .banner .logo-background{
      .circle{
        background-color:rgb(0,10,20);
      }
      .waves{
        background-image:url(../img/waves-dark-blue.png);
      }
    }
}

.light{
  .wrap{
    background:url(../img/water-bg-opaque.png) no-repeat top center;
    background-size:100% auto;
  }
  .wrap, footer.content-info{
    background-color:rgba(255, 255, 255, 0.8);
  }
  .banner .logo-background{
    .circle{
      background-color:rgb(255, 255, 255);
    }
    .waves{
      background-image:url(../img/waves-light.png);
    }
  }
}




// Fix for ultra-wide videos...
// doesn't correct for the height, but better than nothing
.entry-content-asset iframe{
  max-width:100%;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Special adaptations for tiny screens */
@media(max-width:@screen-xs-min){
   .logo, .logo-background .circle{
      .transform(scale(0.7));
   }
   .home.page .wrap .content .main #splash-text{
      position:absolute;
      margin-left:-231px;
      margin-top:-80px;
      left:50%;
      .transform(scale(0.6));
   }
   .banner #primary-navigation{
      top:210px;
      li.menu-cafe, li.menu-roastery{
         .transform(scale(0.8));
      }
      li.menu-cafe{
         position:relative;
         left:25px;
      }
   }
}



@media (min-width: @screen-sm-min) { }
@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
